.group {
  width: 100%;
  margin: 5px auto;
  text-align: center;
}

.input {
  border: 1px solid #7fffd4;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
}

.input:focus {
  border: 1px solid #ff7f50;
}

.select {
  display: inline-block;
  border: none;
  padding: 5px 10px;
  font-size: 24px;
  line-height: 24px;
}

@media screen and (max-width: 520px) {
  .input {
    width: 50%;
  }
}
